h1{
    text-align: center;
    font-size: 4em;
    line-height: .5px;
    color: #FF7700;
    font-family: "Libre Baskerville", serif;
}

h4{
    text-align: center;
    padding-top: 35px;
    font-size: 2em;
    font-family: "Libre Baskerville", serif;
}

body{
    background-color: #323031;
}

p{
    margin:25px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    font-family: "Libre Baskerville", serif;
    }

.contaner{
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 10px;

    background-color: grey;
    border-radius: 25px;
}

.cent{
    text-align: center;
}