h1{
    text-align: center;
    font-size: 4em;
    line-height: .5px;
    color: #FF7700;
    font-family: "Libre Baskerville", serif;
}

h4{
    text-align: center;
    padding-top: 35px;
    font-size: 2em;
    font-family: "Libre Baskerville", serif;
}

body{
    background-color: #323031;
}

p{
    margin:25px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    font-family: "Libre Baskerville", serif;
    }

input[type=submit]{
        margin: 10px;
        padding: 5px;
        background-color: #495867;
        border-style: solid;
        border-color: #323031;
        border-width: 4px;
        border-radius: 5px;
        transition: border-color .5s, border-radius .5s, color .5s;
        font-family: "Libre Baskerville", serif;
        color: #FF7700
    }
    
input[type=submit]:hover{
        border-style: solid;
        border-radius: 10px;
        border-color: #FF7700;
        color: whitesmoke;
    }

.contaner{
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 10px;

    background-color: #808080;
    border-radius: 25px;
}

.cent{
    text-align: center;
}